WPFTicTacToeEkzamen/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TicTacToeWCFService" />
  <xs:element name="GetGameHelper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameHelperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicTacToeWCFService" minOccurs="0" name="GetGameHelperResult" nillable="true" type="q1:GameHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setGameHelper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicTacToeWCFService" minOccurs="0" name="Game" nillable="true" type="q2:GameHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setGameHelperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cellNumb" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicTacToeWCFService" minOccurs="0" name="symb" type="q3:CellType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicTacToeWCFService" minOccurs="0" name="game" type="q4:CellType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>